@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

@inject IJSRuntime JS

<Animate Animation="Animations.FadeDown">
    <div id="toolbar">
        <button id="menu-button" @onclick="@SideBarToggle"><span class="oi oi-menu"></span></button>
        <button id="theme-button" @onclick="@ThemeToggleAsync"><span class="@themeIconClass"></span></button>
    </div>
</Animate>
<SfSidebar ID="sidebar" @ref="@sidebarObj" @bind-IsOpen="IsSidebarOpen" Type="SidebarType.Over" class="md-sidebar"
           EnablePersistence="false" CloseOnDocumentClick="false" ShowBackdrop="false"
           EnableGestures="true" MediaQuery="(min-width: 600px)">
    <ChildContent>
        <div>
            <div style="display:flex; height:var(--toolbar-height); justify-content:left; align-content:center">
                <button id="menu-button" @onclick="@SideBarToggle"><span class="oi oi-menu"></span></button>
            </div>
            <div style="display:flex; justify-content:center; align-content:center;">
                <img height="120" width="200" src="images/logo.jpg" />
            </div>
            <NavigationMenu></NavigationMenu>
        </div>
    </ChildContent>

</SfSidebar>

<div style="text-align: center; width:auto;">
    @Body
</div>

<style>
    :root {
        --sidebar-width: 250px;
        --toolbar-height: 52px;
    }

    #toolbar {
        display: flex;
        border: none;
        background-color: var(--md-sys-color-primary-container)!important;
        color: var(--md-sys-color-on-primary-container)!important;
        height: var(--toolbar-height);
        width: 100vw;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    }

    #sidebar {
        background-color: var(--md-sys-color-secondary-container) !important;
        color: var(--md-sys-color-on-secondary-container) !important;
        height: 100vh;
        width: var(--sidebar-width) !important;
    }

    #menu-button {
        background: none;
        border: none;
        font-size: 16px;
        color: inherit;
        margin-left: 8px;
    }

    #theme-button {
        background: none;
        border: none;
        font-size: 16px;
        color: inherit;
        margin-left: auto;
        margin-right: 12Px;
    }
</style>

@code {
    SfSidebar? sidebarObj;
    SfButton? ThemeToggler;
    public bool IsSidebarOpen = false;
    string themeIconClass = "oi oi-sun";

    [CascadingParameter]
    public bool IsThemeDark { get; set; }

    protected override async Task OnInitializedAsync()
    {
#if DEBUG
    //Thread.Sleep(6000);
   //await Task.Delay(6000);
#endif
        IsThemeDark = false;
        await SetThemeAsync(IsThemeDark);
    }

    public void SideBarToggle()
    {
        IsSidebarOpen = !IsSidebarOpen;
    }
    public async Task ThemeToggleAsync()
    {
        IsThemeDark = !IsThemeDark;
        await SetThemeAsync(IsThemeDark);
    }
    private async Task SetThemeAsync(bool isdark)
    {
        themeIconClass = GetCurrentThemeIcon(IsThemeDark);
        await JS.InvokeVoidAsync("SetDarkModeTheme", isdark);
    }
    private string GetCurrentThemeIcon(bool IsThemeDark)
    {
        if (IsThemeDark) return "oi oi-moon";
        else return "oi oi-sun";
    }
    private void SetSyncfusionTheme(string name)
    {

    }
}